.admin_user {
  display: flex;
  background-color: rgb(220, 216, 230);
  height: 100vh;

  hr {
    color: rgb(255, 255, 255);
  }

  .left {
    flex: 1;
    background-color: rgba(182, 182, 192, 0.664);
    height: 100vh;

    .top {
      height: 180px;
    
    }
    .logo {
      width: 100%;
      margin-top: -30px;
      margin-left: 10px;
    }

    .center {
      padding-left: 10px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: flex;
        align-items: center;
        padding: 30px;
        cursor: pointer;

        &:hover {
          border: #fff;
          background-color: rgba(180, 172, 97, 0.76);
        }
        .link {
          text-decoration: none;
          color: #2e3190;
          //font-size: 30px;
          &:hover {
            color: rgb(27, 32, 34);
          }
        }

        .icon {
          font-size: 30px;
        }
        span {
          font-size: 13px;
          font-weight: 900;
          margin-left: 10px;
          color: #2e3190;
        }
      }
    }
  }
  .right {
    flex: 4;

    .nav {
      padding: 15px;
      display: flex;
      justify-content: flex-end;

      p {
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 10px;
      }
      button {
        width: 15%;
        height: 40px;
      }
    }

    h4 {
      // margin-top: 20px;
      padding: 43.5px;
      font-weight: 800;
      background-color: rgba(255, 255, 255, 0.849);
    }

    .table_users {
      width: 90%;
      margin-left: 5%;
      margin-top: 40px;
      color: rgba(19, 10, 10, 0.404);
      border: rgb(255, 255, 255);
    }

    .button_user {
      text-decoration: none;
      color: rgb(255, 255, 255);
      width: 80px;
      height: 35px;
      background-color: rgb(0, 140, 255);
      border-radius: 15px;
      text-align: center;
      font-weight: bold;
      padding-top: 5px;
      margin-top: 4px;

      &:hover {
        background-color: rgb(43, 24, 218);
      }
    }
  }
}
