.recent {
 padding-bottom: 50px;
  justify-content: space-around;
  box-shadow: 12px 9px 30px -4px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 12px 9px 30px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 12px 9px 30px -4px rgba(0, 0, 0, 0.38);
  border-radius: 10px;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 10%;
  width: 80%;
  justify-items: center;
  background-color: white;
  margin-bottom: 50px;

  h5 {
    font-size: 25px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.87);
  }

  .list_img {
    display: flex;
    gap: 35px;
    margin-top: -10px;
    padding-right: 3%;
    padding-left: 3%;

    h6 {
      font-size: 22px;
      padding-top: 30px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
    }
  }
  .text {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    //margin-bottom: 20px;
    background-color: RGB(10, 150, 196);
    //padding: 5%;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 25px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0 0;
    //font-size: 20px;

    span {
      margin-top: -15px;
      background-color: RGB(220, 184, 59);
      border-radius: 20px;
      font-size: 12px;
      font-weight: 300px;
      padding: 20px;
      padding-top: 15px;
      padding-bottom: 10px;
      color: white;
      // width: 150px;
    }
  }
  .img {
    align-self: center;
    //background-color: red;
    width: 60px;
    padding: 0;
    height: 60px;
    border-radius: 80%;
  }
}
